<style>
body {
	background:
		url('/img/HM-Pictures.jpg')
		no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
</style>
<div>
<div class="col-sm-6 col-md-4 col-md-offset-4 top-buffer">
		<button type="submit"
			class="btn btn-lg btn-primary btn-block distance" ng-click="login()">
			Click here to start sorting numbers... &nbsp;&nbsp; <span class="glyphicon glyphicon-log-in"
				aria-hidden="true"></span>
		</button>
	</div>
</div>
